(defproject {{dot-path}}/{{name}} "0.0.1"
  :description
    "FIXME: write description"
  :url "FIXME: Add a url"
  :min-lein-version "2.0.0"
  :dependencies
    [[org.clojure/clojure "1.7.0"]
     [org.clojure/tools.cli "0.3.1"]
     [org.clojure/tools.logging "0.3.1"]
     ;; Be sure to leave this in even if your project doesn't import
     ;; from it or your uberwar builds will explode mysteriously
     [ring/ring-core "1.3.2"]
     [ring/ring-jetty-adapter "1.3.2"]
     [metosin/ring-swagger-ui "2.1.5-M2"]
     [metosin/compojure-api "0.22.0"]
     [org.slf4j/slf4j-api "1.7.12"]
     [org.slf4j/slf4j-log4j12 "1.7.12"]
     [log4j/apache-log4j-extras "1.2.17"]
     [ring.middleware.logger "0.5.0"]]

  :profiles {:doc {:plugins [[lein-marginalia "0.8.0"]]
                   :dependencies [[marginalia "2015.06.30T22.52.56.e2f8955"]]}

             ;; uncomment the following line to prevent service logs from cluttering test output
             ; :test {:jvm-opts ["-Droot.logger=OFF"]}
  }

  :plugins
    [[lein-ring "0.9.6"]
     [lein-ancient "0.5.5"]
     [lein-cloverage "1.0.6"]]

  :ring
    {:port {{port}}
     :init {{dot-path}}.{{name}}.service/initialize!
     :handler {{dot-path}}.{{name}}.service/main-handler
     :destroy {{dot-path}}.{{name}}.service/destroy!}

  :test-selectors {:default (complement :integration)
                   :integration :integration
                   :all (constantly true)}
  :jvm-opts
    ["-Xmx1g"
     "-server"
     "-Droot.logger=INFO, stdout"
     "-Dlog4j.configuration=file:resources/log4j.properties"]

  :aliases
    {"package" ["do" "clean," "javac," ["ring" "uberwar"] "deb"]
     "docs" ["marg" "-d" "target"]}

  :publish {:local-prefix "target/coverage"
            :entry-file "index.html"
            :artifact-name "Coverage report"
            :remote-prefix "test-results/{{name}}/coverage"})
